.board {
  display: grid;
  grid-template-columns: repeat(8, 80px); /* 8 столбцов по 50px */
  grid-template-rows: repeat(8, 80px);   /* 8 рядов по 50px */
  width: 640px;
  height: 640px;
  border: 2px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-cell {
  background-color: navajowhite;
}

.black-cell {
  background-color: dimgrey;
}